<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot JPA</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<!--Inicio Nav-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/cliente/listar}">Cliente</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Fin Nav-->
<div class="container">
    <a class="btn btn-primary mb-2" th:href="@{/cliente/formulario}">Nuevo Cliente</a>
    <h1 class="text-secondary border-bottom border-3 border-primary" th:text="${titulo}"></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Fecha de Creación</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente: ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellidos}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.fechaCreacion}"></td>
                <td><a class="btn btn-success" th:href="@{/cliente/formulario/} + ${cliente.id}">Editar</a></td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>