<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: header"></div>
<div class="container mt-2">
    <div class="col-2">
        <a class="btn btn-primary mb-2 w-100" th:href="@{/cliente/formulario}">Nuevo Cliente</a>
    </div>

    <h1 class="text-secondary border-bottom border-3 border-primary" th:text="${titulo}"></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Fecha de Creación</th>
                <th class="text-center" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente: ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellidos}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.fechaCreacion}"></td>
                <td><a class="btn btn-success w-100" th:href="@{'/cliente/formulario/' + ${cliente.id}}">Editar</a></td>
                <td><a class="btn btn-danger w-100" th:href="@{'/cliente/eliminar/' + ${cliente.id}}">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout/layout :: scripts"></div>
</body>
</html>